body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.orang-color {
  color: orange;
}
.half-with {
  width: 50%;
  padding-left: 10%;
}
.half-with img {
  width: 80%;
  padding-top: 10%;
}
.container {
  display: flex;
  margin-bottom: 10%;
}
.about-bg {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
}
.btn {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
}
.recipi-top {
  text-align: center;
}
.card {
  width: 30%;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 2%;
  border-radius: 25px;
  box-shadow: 10px 10px 40px gray;
}
.card img {
  width: 80%;
  margin: 10%;
}
.recipi-cards {
}
